@import "compass/css3";
@import "animation_control";
:root {
  @include transform-origin(50%);
  @include perspective(12in);
  overflow: hidden;
}
.panel {
  //writing-mode: vertical-lr;
  //box-shadow: 1px 1px 5px #888888;
  @include transition(1s ease);
  z-index: 1;
  display: block;
  @include transform-style(preserve-3d);
  position: absolute;
  left:0;right:0;top:0;bottom:0;
  margin: auto;
  overflow: hidden;
  perspective-origin: center;
  h2 {
    color: white;
    text-align: center;
  }
  p{
    color: white;
    padding-bottom: 1vh;
  }
  li{
    vertical-align: middle;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  a{
    color: white;
    background-color:transparent;
  }
}
.hud_container {
  height: 100%;
  width: 100%;
  @include transform-style(preserve-3d);
  .hud_panel_top{
     @extend .panel;
     //background: red;
     width:100%;
     height:40%;
     @include transform(translate3d(0vw, -60vh, -2in) rotatex(-60deg));
   }
  .hud_panel_bottom{
    @extend .panel;
    text-align: center;
    width:100%;
    height:10%;
    @include transform(translateY(55vh) rotateX(40deg));
    &:focus{
      @include transition(1s ease);
      @include transform(translate3d(0vw, 0vh, 0in) rotate3d(0,0,0,0deg));
    }
  }
  .view2d_bottom{
    @include transform(translateY(0vh) rotateX(0deg));
    position: fixed;
    margin-bottom:0;
  }
}
.hud_panel_l1{
  @extend .panel;
  position: absolute;
  height:30%;
  width:20%;
  @include transform(translate3d(-40vw, -30vh, -3in) rotatey(20deg));
  &:hover{
    //border-image-width: 14%;
    border-image-outset: 2;
    @include transition(0.5s ease);
    @include transform(translate3d(-40vw, -30vh, -3in) rotatey(50deg));
    background: white;
    *{color:black;}
  }
  &:active{
    border:150px dotted;
  }
}
.hud_panel_r1 {
  @extend .panel;
  height:30%;
  width:20%;
  position:absolute;
  @include transform(translate3d(40vw, -30vh, -3in) rotatey(-20deg) rotatex(0deg));
  &:hover{
    border-image-outset: 2;
    background: white;
    @include transition(0.5s ease);
    @include transform(translate3d(40vw, -30vh, -3in) rotatey(-50deg) rotatex(0deg));
    *{color:black;}
  }
  &:active{
    transition-delay: 0.4s;
    border:150px solid;
  }
  a{
    outline:none;
  }
}
.hud_panel_l2 {
  @extend .panel;
  position: absolute;
  height:27%;
  width:20%;
  @include transform(translate3d(-15vw, -30vh, -3in) rotatey(20deg));
  &:hover{
    border: 20px;
    @include transition(1s ease);
    @include transform(translate3d(-15vw, -30vh, -3in) rotatey(20deg) rotatex(-20deg));
  }
  #trial {
    left:0;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }
  svg {
    width: 100%;
    height: 100%;
  }
  #pulsar{
    stroke-dasharray:411;
    @include animation(dash 8s infinite linear forwards);
  }
  @keyframes  dash{
    from{
      stroke-dashoffset:814;
    }
    to {
      stroke-dashoffset:-1814;

    }

  }
}
.hud_panel_r2 {
  @extend .panel;
  position: absolute;
  opacity:1;
  height:27%;
  width:20%;
  @include transform(translate3d(15vw, -30vh, -3in) rotatey(-20deg) rotatex(0deg));
  image{position:absolute;top:20%;}
  &:hover{
    border: 20px;
    @include transition(1s ease);
    @include transform(translate3d(15vw, -30vh, -3in) rotatey(-20deg) rotatex(-20deg));
    opacity:1;
  }
  ul{
    //animation: i1 4s linear infinite;
    @keyframes i1 {
      0%{opacity: 0.4}
      50%{opacity: 1;}
      100%{opacity: 0.4;}
    }
  }
}
.hud_panel_l3 {
  @extend .panel;
  position: absolute;
  height: 30%;
  width:20%;
  @include transform(translate3d(-40vw, 40vh, -3in) rotatey(20deg));
  &:hover{
    border-image-outset: 2;
    @include transition(0.5s ease);
    @include transform(translate3d(-40vw, 40vh, -3in) rotatey(50deg));
    background: white;
    *{color:black;}
  }
  &:active{
    border:150px dotted;
  }
}


.hud_panel_r3 {
  //background: blue;
  //@include transform(translate3d(40vw, -40vh, -3in)  rotatey(-33deg) rotatex(-10deg);
  @extend .panel;
  position: absolute;
  height: 30%;
  width:20%;
  @include transform(translate3d(40vw, 40vh, -3in) rotatey(-20deg));
  &:hover{
    border-image-outset: 2;
    @include transition(0.5s ease);
    @include transform(translate3d(40vw, 40vh, -3in) rotatey(-50deg));
    background: white;
    *{color:black;}
  }
  &:active{
    border:150px dotted;
  }
}
.hud_panel_nav {
  //h2{text-shadow: none !important;}
  //background: blue;
  //@include transform(translate3d(40vw, -40vh, -3in)  rotatey(-33deg) rotatex(-10deg);
  @extend .panel;
  //background: red;
  opacity:0.2;
  height:auto;
  width:20%;
  position: fixed;
  @include transition(all 0.5s linear);
  @include transform-origin(0%,50%);
  @include transform(translate3d(74vw, 0vh, -3in) rotatey(-100deg));
  &:hover {
    opacity:1;
    @include transition(all 0.5s ease);
    @include transform( translate3d(74vw, 0vh, -3in) rotatey(-45deg) rotatex(0deg));

  }
  button{
    outline:0;
    left:-10vw;
    background: none;
    width:90%;
    height:14%;
    @include transform( rotateZ(-14deg));
    padding: 1vh;
    margin: 3vh;
    h2{
      line-height: 0;
      height: 20%;
      text-align:center;
    }
    a{text-decoration: none;}
    &:hover{
      background: white;
      *{color:black;}
    }
    &:focus {
      outline:0;
      color:white;
    }
    &:active{
      outline:0;
    }
  }
}
.view2d_nav{
  @include transition(1s ease);
  height:100%;
  width:15%;
  margin-right:-5%;
  @include transform(translate3d(0vw, 0vh, 0in) rotatey(0deg) rotatex(0deg));
  button{
    width:60% !important;
    h2{
      text-align:left !important;
      top:0;bottom:0;
      margin:auto;
      }
  }
  &:hover {
    background: rgba(0,0,0,1);
    @include transition(all 0.5s ease);
    width:20%;
    @include transform(translate3d(0vw, 0vh, 0in) rotatey(0deg) rotatex(0deg));
    opacity:1;
  }
}
.hud_panel_compass{
  @extend .panel;
  //box-shadow: 10px 0px 5px -1px #2D8DBD;
  //border-right: 2px white solid;
  opacity:1;
  height:100%;
  width:20%;
  position: fixed;
  @include transition(all 0.5s linear);
  @include transform-origin(100%,50%);
  @include transform(translate3d(-74vw, 0vh, -3in) rotatey(100deg));
  &:hover {
    opacity:1;
    @include transition(all 0.5s ease);
    @include transform( translate3d(-74vw, 0vh, -3in) rotatey(45deg));
  }
  .compass {
    //background-image: url(/resource/images/compass1.svg);
    mask-image: linear-gradient(left, rgba(0,0,0,0.4), rgba(0,0,0,0));
    opacity: 1;
    transform-origin: 50% 50%;
    height:100%;
    transform-style: preserve-3d;
    @include animation( circleZ 20s ease-in-out infinite);
    @keyframes circleZ {
      0% {
        @include transform(rotateZ(0deg))
      }
      20% {
        @include transform(rotateZ(-(random(360)+deg)))
      }
      30% {
        @include transform(rotateZ(random(360)+deg))
      }
      60% {
        @include transform(rotateZ(-(random(360)+deg)))
      }
      70% {
        @include transform(rotateZ(-(random(360)+deg)))
      }
      80% {
        @include transform(rotateZ(random(360)+deg))
      }
      100% {
        @include transform(rotateZ(360deg))
      }
    }
  }
}
.view2d_compass{
  @include transition(1s ease);
  height:100%;
  width:15%;
  margin-left:-5%;
  border: 0px;
  @include transform(translate3d(0vw, 0vh, 0in) rotatey(0deg) rotatex(0deg));
  &:hover {
    background: rgba(0,0,0,1);
    @include transition(all 0.5s ease);
    width:30%;
    @include transform(translate3d(0vw, 0vh, 0in) rotatey(0deg) rotatex(0deg));
    opacity:1;
  }
}
.hud_panel_dot{
  @extend .panel;
  position: absolute;
  height:20%;
  width:20%;
}
#dot_p1{
  width:15%;
  left:0;
  @include transform(translate3d(0vw, 60vh, -2in) rotatey(-0deg) rotatex(30deg));
}
/*#dot_p2{
  width:40%;
  left:0;
  @include transform(translate3d(0vw, 60vh, -3in) rotatex(10deg));
}*/
.hud_panel_about {
  display: none;
  @extend .panel;
  background: black;
  position: absolute;
  padding-bottom:1%;
  width:30%;
  height: auto;
  @include transform(translate3d(-30vw, 0vh, -2in) rotatey(20deg));
  *{
    img{
      height:100px;
      width:100px;
      background: black;
    }
  }
  &:hover{
    border-image-outset: 1;
    background: white;
    //outline:0;
    @include transition(0.5s ease);
    @include transform(translate3d(-20vw, 0vh, -2in) rotatey(20deg));

    *{
      color:black;
    }

  }
  &:focus{
    border-image-outset: 1;
    outline:0;
    @include transition(1s ease);
    @include transform(translate3d(0vw, 0vh, 0in) rotatey(0deg) rotatex(0deg));
  }
}
.hud_panel_project {
  display: none;
  background: black;
  @extend .panel;
  position: absolute;
  padding-bottom:1%;
  width:30%;
  @include transform(translate3d(30vw, 0vh, -2in) rotatey(-20deg));
  &:hover{
    border-image-outset: 1;
    //outline:0;
    @include transition(0.5s ease);
    @include transform(translate3d(20vw, 0vh, -2in) rotateX(0deg) rotateY(-20deg));
    background: white;
    *{color:black;}
  }
  &:focus{
    border-image-outset: 1;
    outline:0;
    @include transition(1s ease);
    @include transform(translate3d(0vw, 0vh, 0in) rotatey(0deg) rotatex(0deg));
  }
}
.hud_panel_ai{
  @extend .panel;
  //background: red;
  overflow: visible;
  z-index:3;
  opacity:1;
  height:30%;
  width:30%;
  //transform-origin: 50% 50%;
  //position: absolute;
  //@include transition(all 0.5)s linear;
  @include transform(translate3d(40vw, 5vh, -4in) rotatey(-20deg));
}
.hud_panel_svg{
  @extend .panel;
  //background: red;
  overflow: hidden;
  //background: red;
  position: absolute;
  z-index:3;
  opacity:1;
  height:30%;
  width:30%;
  //position: absolute;
  //@include transition: all 0.5s linear;
  @include transform(translate3d(-40vw, 5vh, -4in) rotatey(20deg));
  .svg_box{
    display: block;
    width:40%;
    height:50%;
    //background: green;
    margin:auto;
    position:relative;
    float: left;
  }
}
.long_border{
  border: white solid ;
  border-top-width: 2px;
  border-bottom-width: 2px;
  opacity:0.8;
}
.glow {
  color: white;
  text-shadow: 0 0 1rem white, -0.1rem 0 rgba(255, 45, 0, 0.25), 0.1rem 0 rgba(102, 198, 0, 0.25), 0 0.1rem rgba(102, 198, 153, 0.25), 0 -0.1rem rgba(102, 45, 153, 0.25), 0 0 0.75rem rgba(0, 0, 0, 0.5);
}

.hud_panel_1 ul > li::before {
  content: "[" attr(data-who) "]\00A0";
}
.hud_panel_1 > ul {
  height: 20vh;
  font-size: 0.6rem;
  line-height: 1.48;
}
.hud_panel_3 > ul,
.hud_panel_3 ul > li::before {
  content: ">\00A0";
}

/******************************************************/
#zhongxin2{
  position: fixed;
  top:0;
  left:50%;
  margin-left:0;
  margin-top:0;
  width:1px;
  border-left: red solid 1px;
  height:100%;
  background: green;
  z-index: 999;
}
#zhongxin3{
  position: fixed;
  top:50%;
  left:0;
  margin-left:0;
  margin-top:0;
  height:1px;
  width:100%;
  border-top: red solid 1px;
  z-index: 999;
}