@import "compass/css3";
$color1 : rgba(54, 207, 194, 0.5);
$qing : rgba(54, 207, 194, 0.5);
$hong : rgba(255, 0, 0, 1);
$lv : rgba(54, 207, 0, 1);
#ai {
  opacity:0.5;
  overflow: visible;
  border-radius:50%;
  z-index:0;
  @include transform-style(preserve-3d);
  position:absolute;
  left:0; right:0;top:0;bottom:0;
  margin:auto;
  height: 200px;
  width: 200px;
  //transform: translatex(0vw) translateZ(-20vw) rotateX(-10deg);
  //transform: rotateX(40deg) rotateY(-20deg);
  div {
    position: absolute;
  }

}
#figure {
  top: 5px;
  right: 10px;
  width: 80px;
  text-align: right;
}

#eye span {
  display: block;
}

#eye span b {
  font-weight: normal;
  margin-left: -4px;
  text-shadow: 0 0 1px #666;
}

#eye1 {
  width: 90px;
  height:20px;
  font-size: 180%;
}

#eye2 {
  font-size: 50%;
}

#eye3 {
  text-align:center;
  width:110px;
  font-size: 200%;
  @include transform(translate(340px,-20px));
  font-size: 140%;
}

#eye4 {
  width:150px;
  font-size: 200%;
  @include transform(translate(290px,-20px));
  font-size: 140%;
}

#eye5 {
  font-size: 50%;
}
#eye6 {
  width:300px;
  font-size: 200%;
  @include transform(translate(-100px,120px));
}
/*Nice to meet you human
I'm the master of Cong Li......'s website
nice choice!
Stop! You almost hurt me! Oh wait, I can't feel pain
*/





#figure {
  top: 0;
  left: 20px;
  height: 170px;
  width: 170px;
  border-radius: 5px;
  @include transform(rotateY(-30deg) rotateX(10deg));
  @include transform-style(preserve-3d);
  @include animation(figure 16s ease-in-out infinite);
}

@-webkit-keyframes figure {
  from {
    @include transform(rotateY(-30deg) rotateX(30deg));
  }
  20% {
    @include transform(rotateY(30deg) rotateX(30deg));
  }
  40% {
    @include transform(rotateY(30deg) rotateX(-30deg));
  }
  60% {
    @include transform(rotateY(-10deg) rotateX(0deg));
  }
  80% {
    @include transform(rotateY(30deg) rotateX(0deg));
  }
  to {
    @include transform(rotateY(-30deg) rotateX(30deg));
  }
}

@-moz-keyframes figure {
  from {
    -moz-transform: rotateY(-30deg) rotateX(30deg);
  }
  20% {
    -moz-transform: rotateY(30deg) rotateX(30deg);
  }
  40% {
    -moz-transform: rotateY(30deg) rotateX(-30deg);
  }
  60% {
    -moz-transform: rotateY(-10deg) rotateX(30deg);
  }
  80% {
    -moz-transform: rotateY(30deg) rotateX(-10deg);
  }
  to {
    -moz-transform: rotateY(-30deg) rotateX(30deg);
  }
}

#figure #eye {
  left: -100px;
  top: 20px;
  color: #03f;
  @include transform(scale(0.6));
  @include animation(feye 2s ease-in-out infinite);
}
@-webkit-keyframes feye {
  from {
    color: #09f;
  }
  25% {
    color: #0ba;
  }
  50% {
    color: #0cf;
  }
  75% {
    color: #09c;
  }
  to {
    color: #09f;
  }
}

#figure div,
#figure span {
  @include transform-style(preserve-3d);
}
#f0{
  left: -70px;
  top: 0;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-image: url(../resource/images/round_circle/yuanpan_lv.png);
  background-size: contain;
  @include animation(f0 4s linear infinite);
}
@-webkit-keyframes f0 {
  from {
    @include transform(rotateX(40deg)rotateZ(0deg));
  }
  to {
    @include transform(rotateX(40deg)rotateZ(360deg));
  }
}
#f1 {
  left: -2px;
  top: -2px;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  border: 2px solid;
  box-shadow: 0 0 5px $color1;
  @include animation(f1 4s ease-in-out infinite);
}


@-webkit-keyframes f1 {
  from {
    @include transform(rotateZ(0deg));
    opacity: 1;
    border-color: $color1;
  }
  10% {
    @include transform(rotateZ(30deg));
    opacity: 1;
    border-color: #16f;
  }
  20% {
    @include transform(rotateZ(-30deg));
    opacity: 0;
    border-color: $color1;
  }
  30% {
    @include transform(rotateZ(0deg));
    opacity: 1;
    border-color: #99c;
  }
  40% {
    @include transform(rotateZ(-60deg));
    opacity: 1;
    border-color: $color1;
  }
  50% {
    @include transform(rotateZ(-40deg));
    opacity: 1;
    border-color: #03f;
  }
  60% {
    @include transform(rotateZ(-100deg));
    opacity: 0;
    border-color: #03c;
  }
  70% {
    @include transform(rotateZ(-150deg));
    opacity: 1;
    border-color: $color1;
  }
  80% {
    @include transform(rotateZ(100deg));
    opacity: 0;
    border-color: $color1;
  }
  90% {
    @include transform(rotateZ(30deg));
    opacity: 1;
    border-color: #099;
  }
  to {
    @include transform(rotateZ(0deg));
    opacity: 1;
    border-color: $color1;
  }
}

#f1 span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  height: 10px;
  width: 3px;
  background: $color1;
  box-shadow: 0 0 5px $color1;
  @include animation(f1div 4s ease-in-out infinite);
}

@-webkit-keyframes f1div {
  from {
    background: $color1;
  }
  10% {
    background: #06f;
  }
  20% {
    background: $color1;
  }
  30% {
    background: #00c;
  }
  40% {
    background: $color1;
  }
  50% {
    background: #03f;
  }
  60% {
    background: #03c;
  }
  70% {
    background: $color1;
  }
  80% {
    background: $color1;
  }
  90% {
    background: #099;
  }
  to {
    background: $color1;
  }
}

#f2 {
  height: 170px;
  width: 170px;
  @include animation(f2 20s linear infinite);
}

@-webkit-keyframes f2 {
  from {
    @include transform(translateZ(-5px) rotateZ(0deg));
  }
  to {
    @include transform(translateZ(-5px) rotateZ(360deg));
  }
}

#f2 span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -3px;
  height: 6px;
  width: 2px;
  background: #666;
}

#f3 {
  top: 16px;
  left: 16px;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  border-width: 10px;
  border-style: solid;
  border-color: #03c;
  box-shadow: 0 0 5px #03c;
  @include transform(translateZ(10px));
  @include animation(f3 6s ease-in-out infinite);
}

@-webkit-keyframes f3 {
  from {
    @include transform(translateZ(10px) rotateZ(0deg));
    border-color: #03c;
    opacity: 1;
  }
  10% {
    @include transform(translateZ(10px) rotateZ(-80deg));
    border-color: #00ccff;
    opacity: 1;
  }
  20% {
    @include transform(translateZ(10px) rotateZ(-60deg));
    border-color: #03c;
    opacity: 0;
  }
  30% {
    @include transform(translateZ(10px) rotateZ(-200deg));
    border-color: #00ccff;
    opacity: 1;
  }
  40% {
    @include transform(translateZ(10px) rotateZ(-210deg));
    border-color: #0033cc;
    opacity: 1;
  }
  50% {
    @include transform(translateZ(10px) rotateZ(-120deg));
    border-color: #069;
    opacity: 1;
  }
  60% {
    @include transform(translateZ(10px) rotateZ(-100deg));
    border-color: #03c;
    opacity: 1;
  }
  70% {
    @include transform(translateZ(10px) rotateZ(-30deg));
    border-color: #03c;
    opacity: 1;
  }
  80% {
    @include transform(translateZ(10px) rotateZ(0deg));
    border-color: #003;
    opacity: 0;
  }
  90% {
    @include transform(translateZ(10px) rotateZ(90deg));
    border-color: #03c;
    opacity: 1;
  }
  to {
    @include transform(translateZ(10px) rotateZ(0deg));
    border-color: #03c;
    opacity: 1;
  }
}

#f31 {
  width: 80px;
  background: #000;
  top: -13px;
  left: 45px;
  bottom: -13px;
  //@include transform(ranslateZ(1px);
}

#f31 span{
  left: 12px;
  position: absolute;
  display: block;
  border: 1px solid #03c;
  height: 14px;
  width: 14px;
  border-radius: 100%;
  @include transform(translateZ(2px));
}

.f312 {
  bottom: 0;
}

#f31 span b {
  top: 3px;
  left: 3px;
  position: absolute;
  height: 8px;
  width: 8px;
  background: #03c;
  border-radius: 100%;
  @include animation(f31span 2s ease-in-out infinite);
}

@-webkit-keyframes f31span {
  from {
    background: #03c;
    opacity: 1;
  }
  25% {
    background: #039;
    opacity: 0;
  }
  50% {
    background: #0cc;
    opacity: 1;
  }
  75% {
    background: #039;
    opacity: 0;
  }
  to {
    background: #03c;
    opacity: 1;
  }
}

#f32 {
  height: 40px;
  background: #000;
  top: 45px;
  left: -15px;
  right: -15px;
  @include transform(translateZ(1px));
}

#f32 span {
  position: absolute;
  display: block;
  border: 1px solid #00ccff;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  top: 15px;
  @include transform(translateZ(2px));
}

.f321 {
 left: 6px;
}

.f322 {
  right: 6px;
}

#f33 {
  width: 2px;
  background: #000;
  top: -10px;
  left: 64px;
  bottom: -10px;
  @include transform(translateZ(1px) rotateZ(45deg));
}

#f34 {
  width: 2px;
  background: #000;
  top: -10px;
  left: 64px;
  bottom: -10px;
  @include transform( translateZ(1px) rotateZ(-45deg));
}

#f4 {
  top: 33px;
  left: 33px;
  height: 100px;
  width: 100px;
  border: 2px solid $lv;
  border-radius: 100%;
  @include transform( translateZ(20px));
  @include animation(f4 6s ease-in-out infinite);
}

@-webkit-keyframes f4 {
  from {
    @include transform(translateZ(20px) rotateZ(0deg));
    opacity: 1;
  }
  25% {
    @include transform(translateZ(20px) rotateZ(120deg));
    opacity: 1;
  }
  50% {
    @include transform(translateZ(20px) rotateZ(0deg));
    opacity: 0;
  }
  75% {
    @include transform(translateZ(20px) rotateZ(-120deg));
    opacity: 1;
  }
  to {
    @include transform(translateZ(20px) rotateZ(0deg));
    opacity: 1;
  }
}

#f41 {
  left: 45px;
  top: -3px;
  bottom: -3px;
  width: 10px;
  background: #000;
  @include transform(translateZ(1px));
}

#f42 {
  top: 45px;
  left: -3px;
  right: -3px;
  height: 10px;
  background: #000;
  @include transform(translateZ(1px));
}

#f43 {
  top: 47px;
  left: 49px;
  height: 6px;
  width: 2px;
  background: #09f;
}

.f431 {
  @include transform(rotateZ(45deg) translateY(55px));
}

.f432 {
  @include transform(rotateZ(-45deg) translateY(55px));
}

.f433 {
  @include transform(rotateZ(135deg) translateY(55px));
}

.f434 {
  @include transform(rotateZ(225deg) translateY(55px));
}
@font-face {
  font-family: mage;
  src: url(../resource/font/MagicRing.ttf);
}
#f5 {
  font-family: mage;

  left: 45px;
  top: 45px;
  height: 80px;
  width: 80px;
  color: #00ccff;
  @include animation(f5 20s linear infinite);
}

@-webkit-keyframes f5 {
  from {
    @include transform(translateZ(25px) rotateZ(360deg));
  }
  to {
    @include transform(translateZ(25px) rotateZ(0deg));
  }
}

#f5 span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2px;
  height: 4px;
  width: 1px;
  background: #666;
  font-size: 30%;
}

#f5 span b {
  font-weight: normal;
  position: absolute;
  bottom: 150%;
  width: 5px;
  left: -2px;
  overflow: hidden;
}

#f6 {
  top: 61px;
  left: 61px;
  height: 46px;
  width: 46px;
  border-radius: 50%;
  border: 1px solid #06f;
  @include transform(translateZ(30px));
}

#f7 {
  top: 65px;
  left: 65px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: 2px solid #06f;
  background: #000;
  @include transform(translateZ(34px));
  @include animation( f7 6s linear infinite);
}

@-webkit-keyframes f7 {
  from {
    @include transform(translateZ(34px) rotateZ(0deg));
    opacity: 1;
  }
  10% {
    @include transform(translateZ(34px) rotateZ(36deg));
    opacity: 0;
  }
  20% {
    @include transform(translateZ(34px) rotateZ(72deg));
    opacity: 1;
  }
  70% {
    @include transform(translateZ(34px) rotateZ(252deg));
    opacity: 1;
  }
  80% {
    @include transform(translateZ(34px) rotateZ(288deg));
    opacity: 0;
  }
  90% {
    @include transform(translateZ(34px) rotateZ(324deg));
    opacity: 1;
  }
  to {
    @include transform(translateZ(34px) rotateZ(360deg));
  }
}

#f71 {
  top: -12px;
  left: 17px;
  height: 60px;
  width: 2px;
  background: #06f;
  @include transform(translateZ(-1px));
}

#f72 {
  top: -12px;
  left: 17px;
  height: 60px;
  width: 2px;
  background: #06f;
  @include transform(translateZ(-1px) rotateZ(90deg));
}

#f8 {
  top: 69px;
  left: 69px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #00ccff;
  background: #000;
  @include transform(translateZ(40px));
  @include animation( f8 8s linear infinite);
}

@-webkit-keyframes f8 {
  from {
    @include transform(translateZ(40px) rotateZ(360deg));
    border-color: #00ccff;
    opacity: 1;
  }
  10% {
    @include transform( translateZ(40px) rotateZ(324deg));
    border-color: #00ccff;
    opacity: 0;
  }
  20% {
    @include transform( translateZ(40px) rotateZ(288deg));
    border-color: #00ccff;
    opacity: 1;
  }
  50% {
    @include transform( translateZ(40px) rotateZ(180deg));
    border-color: #09f;
  }
  to {
    @include transform( translateZ(40px) rotateZ(0deg));
    border-color: #00ccff;
  }
}

#f81 {
  top: -10px;
  left: 10px;
  height: 50px;
  width: 10px;
  background: #00ccff;
  @include transform(translateZ(-1px));
  border-radius: 5px;
  @include animation(f8div 8s linear infinite);
}

#f82 {
  top: -10px;
  left: 10px;
  height: 50px;
  width: 10px;
  background: #00ccff;
  @include transform(translateZ(-1px) rotateZ(90deg));
  border-radius: 5px;
  @include animation(f8div 8s linear infinite);
}

@-webkit-keyframes f8div {
  from {
    background: #00ccff;
  }
  50% {
    background: #09f;
  }
  to {
    background: #00ccff;
  }
}

#f9 {
  top: 79px;
  left: 79px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #06f;
  @include transform(translateZ(50px));
}

#f9 span {
  top: 3px;
  left: 3px;
  position: absolute;
  display: block;
  height: 4px;
  width: 4px;
  background: #06f;
  border-radius: 50%;
  @include transform(translateZ(1px));
}