@import "animation_control";
@import "compass/css3";
.center_core{
  z-index:-9;
  border-radius: 50%;
  overflow: visible;
  transform-style: preserve-3d;
  left:0;right:0;top:0;bottom:0;
  margin: auto;
  position: absolute;
  opacity:1;
  @include transform( translateY(6vh) translateZ(-5in) rotateX(0deg));
  .core_mask{
    position:absolute;
    width:100%;
    height:100%;
    //background: black;
    z-index: 99;
  }
  #canvas_core{
    height:100%;
    width:100%;
    position:absolute;
    top:0;bottom:0;left:0;right:0;
    margin:auto;
    canvas{
      transition: 1s ease-in-out;
      @include transform( translateY(0vh) translateZ(-100in) rotateX(0deg));
      top:0;bottom:0;left:0;right:0;
      margin:auto;
      position:absolute;
      width:100%;
      height:100%;
      //transform-style: preserve-3d;
      //@include transform( translateZ(70vh);
    }

  }
  #center_frame{
    transform-style: preserve-3d;
    top:0;bottom:0;left:0;right:0;
    margin:auto;
    position:absolute;
    z-index:9;
    width:50%;
    height:50%;
    opacity:1;
    @include transform(translateZ(0in));
    .center_left{
      position: absolute;
      top:0;left:0;
      z-index:10;
      width:30%;
      height:100%;
      //background: green;
      .syscore{
        opacity:0;
        transform-style: preserve-3d;
        @include transform(translateX(-10vw)translateZ(-20in)translateY(20vh));
        position: absolute;
        top: 0;bottom:0;margin:auto;
        text-align: center;
        //background: rgba(255, 255, 255, .1);
        width:100%;
        height:100%;
        //line-height:10%;
        vertical-align: middle;
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
        @include animation( movefar 3s 5s ease forwards);
        @keyframes movefar {
          0%{
            opacity:0;
            @include transform(translateZ(-20in) translateX(-10vw));
          }
          30%{
            opacity:1;
            @include transform(translateZ(3in) translateX(0vw));
          }
          50%{
            opacity:1;
            @include transform(translateZ(3in) translateX(0vw));
          }

          70%{
            opacity:1;
            @include transform(translateZ(3in) translateX(0vw));
          }
          80%{
            opacity:1;
            @include transform(translateZ(3in) translateX(0vw));
          }
          100%{
            opacity:1;
            @include transform(translateZ(0in) translateX(0vw));
          }
        }
        h2{
          margin-top:0;
          margin-bottom:0;
        }
      }
      .line{
        width:50%;
        height:1px;
        position:absolute;
        //@include transform(translateZ(2in);
        //background: red;
        //border: 1px red solid;
        span:first-child{
          opacity:1;
          position: absolute;
          height:1px;
          width:30%;
          background: white;
        }
        span:last-child{
          opacity:0.2;
          position: absolute;
          height:1px;
          width:69%;
          background: white;
          left:34%;
        }
      }
      .baseline1{
        top:40%;
        left:0;
        @extend .line;
      }
      .baseline2{
        bottom:40%;
        left:0;
        @extend .line;

      }
    }
  }
  #view_change{
    //background: red;
    height:10%;width:40%;
    position: absolute;
    left:0;right:0;bottom:10%;
    margin:auto;
    transform-style: preserve-3d;
    @include transform( translateZ(1in));
    button{
      @include box-shadow(0px 0px 20px #2D8DBD);
      height:100%;width:20%;
      overflow: hidden;
      position: relative;
      float: left;
      background: transparent;
      border-color: white;
      border-radius:15%;
      margin-left:10%;
      //background-color: rgba(222,222,222,0.1) !important;
      h2{height:30%;
      margin:0;padding:0;}
      span{height:70%;}
      &:hover{
        @include animation( laidian1 0.3s ease);
        background: white;
        *{color:black;}
      }
      &:focus {
        outline:0;
        background-color:white;
        *{color:rgba(54, 207, 194,0.8);}
      }
      &:active{
        *{color:white;}
        outline:0;
      }
    }

  }
}

//slider
#core_slider{
  transform-style: preserve-3d;
  @include transform(translateZ(1in));
  width:100%;
  height:100%;
  position: absolute;
  //top:110%;
  .ui-state-default{
    border:none;
    outline:0;
    background:white;
  }
  /*@keyframes bianbai {
    0%{background-color:transparent;}
    20%{background-color:white;}
    70%{background-color:white;}
    100%{background-color:transparent;}
  }*/
  #slider-travel{//top
    height: 1px;
    width:200px;
    left:0;right:0;margin:auto;
    top:2%;
    .ui-slider-handle {
      height: 14px;
      width: 50px;
      margin-left: -25px !important;
      margin-top:-30px;
      //@include animation(bianbai 3s ease infinite);
      &:hover{
        background:rgba(3, 222, 255,0.7);
      }
      &:active{
        background-color:rgba(3, 222, 255,1);
        //@include animation-play-state(paused);
      }
    }
  }
  #slider-range{//bottom
    height: 1px;
    width:200px;
    left:0;right:0;margin:auto;
    bottom:2%;
    .ui-slider-handle {
      height: 14px;
      width: 50px;
      margin-left: -25px !important;
      margin-top:30px;
      //@include animation(bianbai 3s ease infinite);
      &:hover{
        background:rgba(3, 222, 255,0.7);
      }
      &:active{
      background-color:rgba(3, 222, 255,1);
      //@include animation-play-state(paused);
    }
    }
    //height:10%;
    //left:auto;
  }
  #slider-zoom{//right
    width: 1px;
    height:200px;
    right:20%;
    top:0;bottom:0;margin:auto;
    .ui-slider-handle {
      //background-color:red;
      height: 50px;
      width: 14px;
      margin-bottom: -25px !important;
      margin-left:30px;
      //@include animation(bianbai 3s ease infinite);

      &:hover{
        background:rgba(3, 222, 255,0.7);
      }
      &:active{
        background-color:rgba(3, 222, 255,1);
        //@include animation-play-state(paused);
      }
    }
    //position: absolute;
    //width:10%;
  }

  .slider{
    z-index: 999;
    //@include transform( translateY(0vh) translateZ(1in) rotateX(0deg));
    position:absolute;
    //margin:0 auto;
    background: transparent;
  }
}


////////////////////////
.random_dot{
  position: relative;
  z-index:10;
  height:6px;
  width:6px;
  opacity:0.8;
  background: white;
  @include border-radius(50%);
  @include animation(rand 4s ease infinite);
  @keyframes rand {
    0%{top:50%; left: 50%;}
    10%{top:percentage(random(80)/100); left: percentage(random(80)/100);}
    20%{top:percentage(random(80)/100); left: percentage(random(80)/100);}
    30%{top:percentage(random(80)/100); left: percentage(random(80)/100);}
    40%{top:percentage(random(80)/100); left: percentage(random(80)/100);}
    50%{top:percentage(random(80)/100); left: percentage(random(80)/100);}
    60%{top:percentage(random(80)/100); left: percentage(random(80)/100);}
    70%{top:percentage(random(80)/100); left: percentage(random(80)/100);}
    80%{top:percentage(random(80)/100); left: percentage(random(80)/100);}
    90%{top:percentage(random(80)/100); left: percentage(random(80)/100);}
    100%{top:50%; left: 50%;}
  }
}
