$hong : rgba(255, 0, 0, 1);
$lv : rgba(54, 207, 0, 0.5);
$qing : rgba(54, 207, 194, 0.5);
$qing_quan : rgba(54, 207, 194, 1);
$border_mask: white;
/* .RingCirc{
     position: relative;
     overflow: hidden;
     width:100%;
     height:40%;
     top:0px;
     #MagicRing{
       position:relative;
       //top:10vh;
       margin: 0 auto;
     }
   }
   */
/*.svg_01{
  width: 10%;
  height: 0;
  position: relative;
}
@keyframes svg_01 {
  
}
svg{
  //position: absolute;
  top: 0 !important;
  left: 0 !important;
}*/
body {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-color: black;
  //background: url(../resource/images/bgtemp.jpg);
  //background-repeat:no-repeat;
  //background-position:50% 300%;
  //overflow: hidden;
  //background: black;
  //position:relative;
  video{
    position:fixed;
    opacity: 0.1;
  }
  .logo{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width:14%;
    height:auto;
    //transform: perspective(1000px) translateZ(-300px) translateY(-200px);
    //transform: perspective(1000px) translateZ(-1000px);
    animation: logo_move 4s forwards;
    @keyframes logo_move {
      from{transform: perspective(1000px) translateZ(100px) translateY(200px);}
      to {transform: perspective(1000px) translateZ(-300px) translateY(-100px);  }
      }
    g .logo_eye{
      animation: turn_red 4s 4s forwards;
      @keyframes turn_red {
        to {fill:red}
      }
    }
  }
  .svg_bg_container {
    opacity: 0.1;
    position: absolute;
    width: 140vw;
    height: 140vh;
    right: -50%;
    bottom: -20%;
  }
  .panel_bottom_1 {
    overflow: visible;
    position: absolute;
    bottom: 5%;
    left: 10%;
    //overflow: visible;
    $rotate_left: 0.7deg;
    //overflow: hidden; //img animation need
    //transform-style: preserve-3d; //
    //background-color:black;//parent elem's opacity = 0.5 while child elem's opacity = 1
    height: 20%;
    width: 20%;
    transform: perspective(1vw) rotateX(0.5deg) rotateY(1deg) rotateZ(-2deg);
    //-webkit-animation: left_bar_move_from_left 0.6s linear 0s;
    animation-fill-mode: forwards;
    .play-area {
      overflow: visible;
      //border: 1px solid white;
      //border-radius: 11%;
      transform-style: preserve-3d;
      transform: perspective(1vw) translateX(14%) translateY(-20%) translateZ(0.1vw) rotateX(0.4deg);;
      perspective-origin: center;
      height: 140%;
      width: 120%;
      margin: -10% 4% 0 -200%;
      position: relative;
      left: -40%;

      &:hover * {
        transform: rotateX(-1deg) rotateY(-1deg) rotateZ(2.5deg);
        /*-webkit-transform: rotate3D(0, 3, 0, -0.9deg);
        -moz-transform: rotate3D(0, 1, 0, -0.9deg);
        -o-transform: rotate3D(0, 1, 0, -0.9deg);*/
      }

      //background-color: mediumpurple;
      -webkit-animation: left_bar_move_from_left 3s linear 1s;
      animation-fill-mode: forwards;
      //transform: translate(100vw, 0);
      transition-duration: 2s;
      transition-timing-function: linear;
      img {
        position: relative;
        opacity: 1;
        height: 40%;
        width: 40%;
        left: 4%;
        margin: 2%;
        //transform: perspective(1vw) rotate3d(0, 0, 1, 10deg);
        //transition-duration: 1s;
        //transition-timing-function: linear;

        //transform: translate3d(0px, 0px, 0px)      add animation later
        -webkit-transition-duration: 0.8s;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        -o-transition-property: -o-transform;
        transition-property: transform;
      }
    }

  }
  .biankuang_1 {
    border: 10px solid red;
    border-image: url(../resource/images/fang1.svg) 5% 5% 5% 5%;
  }
  .biankuang_2 {
    border: 10px solid red;
    background: url(../resource/images/biankuang/b.svg) no-repeat;
  }

  .panel_bottom_2 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    margin: auto;
    right: 10%;
    left: auto;
    height: 200px;
    svg {
      animation: none !important;
      width: 140px;
      right: 10%;
      left: auto;
    }
  }
    /*****************************************************************************/
    .dot {
      z-index: 9999;
      background-size: 100%;
      //background-position: 1100px 0 !important;
      //position: fixed;
    }

    $dot5: url(../resource/images/dot/dot_5.png);
    $dot10: url(../resource/images/dot/dot_10.png);
    $dot25: url(../resource/images/dot/dot_25.png);
    $dot50: url(../resource/images/dot/dot_50.png);
    .bg-dot-5 {
      background-image: $dot5;
    }
    .bg-dot-25 {
      background-image: $dot25;
    }
    .bg-dot-50 {
      background-image: $dot50;
    }
    /*******************************************************************/

    /*****************************************************************************/

    @-webkit-keyframes left_bar_move_from_left {
      0% {
        left: -200%;
        top: 0%;
      }
      100% {
        left: 200%;
        top: 0%;
      }
    }
  }

  canvas {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background: transparent;
    fill-style: red;
  }
  .hack_img2 {
    color: red;
  }
  .hack_img1 {

    left: 0%;
  }

  .output-console {
    //position:fixed;
    color: $lv;
    overflow: hidden;
    height: 100%;
  }

  .mask {
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: black;
  }

  .mb1 {
    display: inline-block;
    z-index: 100;
    position: fixed;
    overflow: hidden;
  }

  //fade
  .mb10 {
    @extend .mb1;
    //height: 2px;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: black;
    opacity: 1;
    animation: mb1_move_quan 1s 1s linear;
    //-webkit-animation: mb1_move_quan 2s linear, mb1_move_fade 2s linear 2s;
    animation-fill-mode: forwards;
    //animation-delay: 3s;
    //transition: all 1.5s .6s ease-in-out;
  }
/*
  .mb1fade {
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 1;
    animation: mb1_move_fade 2s linear;
    -webkit-animation: mb1_move_fadeout 2s linear;
    animation-fill-mode: forwards;
  }*/

  .mb11 {
    @extend .mb1;
    //height: 2px;
    z-index: 99;
    width: 2px;
    height:100%;
    left:0;
    bottom: -100%;
    background-color: $border_mask;
    -webkit-animation: mb1_move_shu 2s linear;
    animation-fill-mode: forwards;
    //animation-delay: 3s;
    //transition: all 1.5s .6s ease-in-out;
    }

  .mb12 {
    @extend .mb1;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0px;

    background-color: $border_mask;
    animation: mb1_move_heng 2s linear;
    animation-fill-mode: forwards;
    //transition: all 1.5s .6s ease-in-out;
  }
  @keyframes mb1_move_quan {
    0% {
      left: 0%;
    }
    99% {
      left: 100%;
    }
    100% {
      left: 1000%;
    }
    //100%{bottom:200%;opacity:0;}
  }
/*  @keyframes mb1_move_shu {
    0% {
      bottom: -100%
    }
    50% {
      bottom: 0%
    }
    100% {
      bottom: 200%
    }
  }*/

  @keyframes mb1_move_heng {
    0% {
      left: -100%;
      opacity:1
    }
    50% {
      left: 0%;
      opacity:1
    }
    100% {
      left: 200%;
      opacity: 0
    }
  }
  @keyframes mb1_move_fadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
    //100%{bottom:200%;opacity:0;}
  }
  @keyframes mb1_move_fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
    //100%{bottom:200%;opacity:0;}
