body {
  background-color: black;
  overflow: hidden; }
  body .RingCirc {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 40%;
    top: 0px; }
    body .RingCirc #MagicRing {
      position: relative;
      margin: 0 auto; }
  body .container {
    /* .center-panel{
       align: center;
       width: 20vw;
       height: 100vh;
       background-color: pink;
     }*/ }
    body .container .left-panel {
      position: absolute;
      float: left;
      top: 0vh;
      height: 90vh;
      left: 5vw;
      width: 40vw; }
      body .container .left-panel .rotate-left {
        transform-style: preserve-3d;
        background-color: rgba(100, 205, 205, 0.5);
        margin-right: 0vw;
        position: relative;
        top: 10vh;
        left: -100vw;
        height: 80vh;
        width: 40vw;
        transform: perspective(2vw) rotateY(1deg);
        -webkit-animation: left_bar_move_from_left 1s linear 1s;
        animation-fill-mode: forwards; }
        body .container .left-panel .rotate-left .play-area {
          perspective-origin: center;
          height: 100%;
          width: 100%;
          left: -100vw;
          position: relative;
          -webkit-animation: left_bar_move_from_left 3s linear 1s;
          animation-fill-mode: forwards; }
          body .container .left-panel .rotate-left .play-area img {
            position: relative;
            left: 0vw;
            opacity: 1;
            float: left;
            height: 40%;
            width: 40%;
            margin: 4%;
            -webkit-transition-duration: 0.8s;
            -webkit-transition-property: -webkit-transform;
            -moz-transition-property: -moz-transform;
            -o-transition-property: -o-transform;
            transition-property: transform; }
        body .container .left-panel .rotate-left .play-area:hover img {
          -webkit-transform: rotate3D(0, 3, 0, -0.9deg);
          -moz-transform: rotate3D(0, 1, 0, -0.9deg);
          -o-transform: rotate3D(0, 1, 0, -0.9deg); }
    body .container .right-panel {
      position: absolute;
      float: right;
      top: 15vh;
      height: 90vh;
      right: 5vw;
      width: 40vw; }
      body .container .right-panel .rotate-right {
        opacity: 1;
        top: 20vh;
        height: 80vh;
        width: 40vw;
        perspective-origin: center;
        transform: perspective(1vw) rotateY(0deg); }
        body .container .right-panel .rotate-right button {
          text-shadow: 5px 5px 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
          background-color: transparent;
          color: cornflowerblue;
          font-size: 4vw;
          float: left;
          height: 50%;
          width: 50%; }
        body .container .right-panel .rotate-right img {
          float: left;
          height: 10vh;
          width: 20vw;
          float: left;
          padding: 1vw; }

@-webkit-keyframes left_bar_move_from_left {
  0% {
    left: -100vw;
    top: 0px; }
  100% {
    left: 0vw;
    top: 0px; } }

/*# sourceMappingURL=main.css.map */
