
body{
  //background-image: url("../resource/images/matrix.png"), url("../resource/images/city.png");
  background-color: black;
  overflow: hidden;
 /* .RingCirc{
    position: relative;
    overflow: hidden;
    width:100%;
    height:40%;
    top:0px;
    #MagicRing{
      position:relative;
      //top:10vh;
      margin: 0 auto;
    }
  }
  */
  .container{
    position:relative;
    width:90vw;
    height:90vh;
    margin: 0 auto;

    //display: inline-block;
    //background: red;

    //margin-left: 0px;

    //perspective: 110px;
    //border: 4px solid #a2b058;
    //background: #f0f5d8;
    .left-panel{
      overflow: hidden;
      position:absolute;
      float: left;
      top:60vh;
      left:10vw;
      height: 35vh;
      width: 30vw;
        .rotate-left{
          $rotate_left: 1deg;
          //overflow: hidden; //img animation need
          transform-style: preserve-3d;//
          //background-color: rgba(100,205,205,0.5);//parent elem's opacity = 0.5 while child elem's opacity = 1
          margin-right: 0vw;
          position:relative;
          top: 10vh;
          left:-100vw;
          height:100%;
          width:100%;
          transform: perspective(2vw) rotateY($rotate_left);
          -webkit-animation: left_bar_move_from_left 1s linear 1s;
          animation-fill-mode:forwards;
          .play-area{
            &:hover img{
              -webkit-transform:rotate3D(0,3,0,-0.9deg);
              -moz-transform:rotate3D(0,1,0,-0.9deg);
              -o-transform:rotate3D(0,1,0,-0.9deg);
            }
            perspective-origin: center;
            height: 100%;
            width: 100%;
            left: -100vw;
            position:relative;
            //background-color: mediumpurple;
            -webkit-animation: left_bar_move_from_left 3s linear 1s;
            animation-fill-mode:forwards;
            //transform: translate(100vw, 0);
            //transition-duration: 2s;
            //transition-timing-function: linear;
              img {
                position: relative;
                left: 0vw;
                opacity: 1;
                float: left;
                height: 30%;
                width: 40%;
                margin: 4%;
                //transform: perspective(1vw) rotate3d(0, 0, 1, 10deg);
                //transition-duration: 1s;
                //transition-timing-function: linear;

                //transform: translate3d(0px, 0px, 0px)      add animation later
                -webkit-transition-duration: 0.8s;
                -webkit-transition-property: -webkit-transform;
                -moz-transition-property: -moz-transform;
                -o-transition-property: -o-transform;
                transition-property: transform;
              }
          }

        }
      //position: relative;
      //display: inline-block;
      //margin: auto;

      // /* Safari */
      //-webkit-transform: translate3d(0, 0, 60px) rotate3d(0, 1, 0, -60deg) scale3d(1, 1, 2); /* Chrome, Safari, Opera */
      //-webkit-transform: translate3d(0, 0, 60px) rotate3d(0, 1, 0, -60deg) scale3d(1, 1, 2); /* Chrome, Safari, Opera */
      //transform: perspective(px) rotateY(20deg);

      //transform: rotateZ(-20deg);
    }
    .right-panel{
      position:absolute;
      float: right;
      top:20vh;
      right:15vw;
      height: 35vh;
      width: 30vw;
      //position: fixed;
      background-color: red;
      opacity:0.9;
      .rotate-right{
        &:hover{
          -webkit-transform:rotate3D(0,1,0,4deg);
          -moz-transform:rotate3D(0,1,0,4deg);
          -o-transform:rotate3D(0,1,0,0.4deg);
        }
        -webkit-transition-duration: 2s;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        -o-transition-property: -o-transform;
        transition-property: transform;
        //background-image: url("../resource/images/matrix.png");
        $rotate_right: -2deg;
        //overflow: hidden;
        opacity: 1;
        //margin-right: 0px;
        top: 10vh;
        width:20vw;
        height:20vh;
        background: green;
        //background-color: red;
        perspective-origin: center;
        transform: perspective(1vw) rotateY($rotate_right);
        button{
          text-shadow: 5px 5px 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
          background-color: transparent;
          color: cornflowerblue;
          font-size: 4vw;
          float: left;
          height: 50%;
          width: 50%;
        }
        img{
          float: left;
          height: 10vh;
          width: 20vw;
          float:left;
          padding: 1vw;

        }
      }
      //position: relative;
      //display: inline-block;
      //margin: auto;

      // /* Safari */
      //-webkit-transform: translate3d(0, 0, 60px) rotate3d(0, 1, 0, -60deg) scale3d(1, 1, 2); /* Chrome, Safari, Opera */
      //-webkit-transform: translate3d(0, 0, 60px) rotate3d(0, 1, 0, -60deg) scale3d(1, 1, 2); /* Chrome, Safari, Opera */
      //transform: perspective(px) rotateY(20deg);

      //transform: rotateZ(-20deg);
    }
   /* .center-panel{
      align: center;
      width: 20vw;
      height: 100vh;
      background-color: pink;
    }*/
  }

}


@-webkit-keyframes left_bar_move_from_left {
  0% {
    left: -100vw;
    top: 0px;
  }
  100% {
    left: 0vw;
    top: 0px;
  }
}
